p.sansserif {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color:black;
  background-color: lightblue
}
p.sansserif2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color:green
}
p {
  color: white
}
h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: green
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: green
}

a:link{
  background-color: #f44336;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: inherit;
  display: inline-block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a:hover {
  background-color: green;
  "cursor:pointer"
}
a:visited {
  color: white;
}
a:active {
  background-color: black
